p {
    margin: 0;
    padding: 0;
  }
  
  .col-sm-9 {
    margin: 0;
    padding: 0;
  }
  
  p.greyline {
    background-color:#F0F0F0;
  }
  
  #products {
    border: 1px solid;
    border-color: #A5ACB2;
    width: 500px;
    margin-left: 300px;
  }
  
  #selection {
    /* border: 1px solid;
    border-color: #A5ACB2; */
    width: 500px;
    margin-left: 300px;
  }